@import "inc/_buttons";
@import "inc/_fonts";
@import "inc/_clearfix";
@import "inc/_colours";
@import "inc/_responsive";
@import "compass/css3";

$formMobileBreak: 458px;

@include button(".reset-password-form", 170px, auto, $WHITE, 10px, $LIGHT_TURQUOISE, $LIGHT_TURQUOISE_HOVER);
@include button(".change-password-submit", 170px, auto, $WHITE, 10px, $buttonGreen-bg, $buttonGreen-bg-hover);

@mixin create-success-dialog() {

    .success {
        max-width: 530px;
        padding: 0px 10px;
        display: block;
        height: 40px;
        margin: 0px 0px 20px 0px;
        text-align: center;
        margin: 0px auto;
        background: $ORANGE;
        @include button-drop-shadow();
        float: none;
        margin-bottom: 25px;
        opacity: 0px;

        .flash-notice {
            color: $WHITE;
            padding: 5px;
            vertical-align: middle;
            text-align: left;
            text-indent: 7px;
            line-height: 28px;
            @include museo500;
            font-size: 14px;
            text-transform: uppercase;

            span {
                background: url('/img/sprites.png') no-repeat -5px -114px;
                height: 30px;
                width: 30px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }

}

#user-change-password {

    @include create-success-dialog();

    .copy-wrapper {
        max-width: 530px;
    }

    .static .copy {
        @include response-max($widthMobileBreak) {
         padding: 10px;
        }

        ul li {
            list-style: none;
        }
    }

    section {
        text-align: center;
        margin: 0px auto;
    }

    button {
        padding: 10px;
        @include response-max($formMobileBreak) {
            width: 100%;
            margin-bottom: 10px;
        }

        &.clear-details {
            padding: 10px 20px;
            min-width: 90px;
        }

    }
}

#change-password-form {
    display: inline-block;
    margin: 0px auto;
    text-align: center;

    fieldset {
        margin: 0px;
        padding: 0px;
    }

    .error-message ul {
        padding-left: 180px;
        width: 220px;
        @include response-max($formMobileBreak) {
            padding-left: 0px;
        }
        text-align: left;
        display: block;
    }

    label {
        display: block;
        float: left;
        font-size: 14px;
        line-height: 14px;
        padding: 12px 0px 0px 0px;
        text-align: left;
    }

    input {
        width: 200px;
        @include response-max($formMobileBreak) {
            width: 250px;
        }
    }

    .form-field {
        margin: 6px 0px;
    }

    .form-field label {
        width: 190px;
        @include response-max($formMobileBreak) {
            margin-bottom: 10px;
        }
    }

    .submit-fields {
        margin-top: 10px;
    }

    p {
        font-size: 12px;
        padding-top: 10px;
    }

    .general-message {
        text-align: left;
    }

    .message-container {
        display: inline-block;
        width: 100%;
        .message {
            span.note {
                color: $ORANGE;
                @include museo700();
            }
            text-align: left;
            float: right;
            width: 221px;
            @include response-max($formMobileBreak) {
                width: 270px;
            }
        }
    }

    .change-password-submit {
        margin-left: 10px;
        float: right;
        @include response-max($formMobileBreak) {
            float: none;
            margin-left: 0px;
        }
    }

    .reset-password-form {
        float: right;
        @include response-max($formMobileBreak) {
            float: none;
        }
    }

}